/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap'); */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-sarif;
}

header {
    background-color: #1f2937;
    padding: 1em 13em;


}

#logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;

}

.nav {
    display: flex;
    justify-content:space-between;
    align-items: baseline;
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5em;
}

.firstpara,a:link{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
} 

.welcome-awesome{
    padding: 7em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.welcome-awesome .left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.welcome-awesome .right{
    flex-shrink: 0;
    width: 50%;
}

.hero{
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

button{
    width: 120px;
    background-color: #3882F6;
    padding: 7px 1em;
    border-radius: 8px;
}

.welcome-awesome button{
    border: none;
}

.image{
    display: flex;
    background-color: rgba(128, 128, 128, 0.27);
    height: 215px;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
    font-size: 18px;
}

